
.title{
    margin-bottom: 7px;
}

.check__item {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}
.check__item label {
    display: flex;
    align-items: center;

}
span{
    margin:7px 7px 7px 0px;
}
p{
    font-size: 13px;
    font-weight:400;
}

.default__check[type=checkbox],
.default__check[type=radio] {
    display: none;
}
.default__check[type=checkbox] ~ .custom__check,
.default__check[type=radio] ~ .custom__check {
    display: flex;
    align-items: center;
    height: 12px;
    border: 1px solid #000;
    position: relative;
    transition: all 0.4s ease;
    cursor: pointer;
}
.default__check[type=checkbox] ~ .custom__check:after,
.default__check[type=radio] ~ .custom__check:after {
    content: "";
    display: inline-block;
    position: absolute;
    transition: all 0.4s ease;
}
.default__check[type=checkbox]:not(.switchbox) ~ .custom__check,
.default__check[type=radio]:not(.switchbox) ~ .custom__check {
    justify-content: center;
    width: 12px;
}

.default__check[type=checkbox].switchbox + .custom__check:after,
.default__check[type=radio].switchbox + .custom__check:after {
    transform: scale(1.5);
    left: 4px;
}
.default__check[type=checkbox].switchbox:not(:checked) ~ .custom__check:after,
.default__check[type=radio].switchbox:not(:checked) ~ .custom__check:after {
    background-color: #000;
}
.default__check[type=checkbox].switchbox:checked ~ .custom__check:after,
.default__check[type=radio].switchbox:checked ~ .custom__check:after {
    left: 20px;
}
.default__check[type=checkbox]:disabled ~ .custom__check,
.default__check[type=radio]:disabled ~ .custom__check {
    opacity: 0.3;
    cursor: not-allowed;
}
.default__check[type=checkbox]:checked ~ .custom__check,
.default__check[type=radio]:checked ~ .custom__check {
    background-color: #000;
}
.default__check[type=checkbox]:checked ~ .custom__check:after,
.default__check[type=radio]:checked ~ .custom__check:after {
    visibility: visible;
}

.default__check[type=checkbox]:not(.switchbox) ~ .custom__check {
    border-radius: 0.175rem;
}
.default__check[type=checkbox]:not(.switchbox) ~ .custom__check:after {
    height: 4px;
    width: 1.5px;
    margin-top: -1px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}

.default__check[type=radio] ~ .custom__check,
.default__check[type=checkbox].switchbox ~ .custom__check {
    border-radius: 50rem;
}
.default__check[type=radio] ~ .custom__check:after,
.default__check[type=checkbox].switchbox ~ .custom__check:after {
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 50rem;
}

@-webkit-keyframes slide-top {
0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
}
100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
}
}
@keyframes slide-top {
0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
}
100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
}
}

.grid-container{
    width:85%;
    height:100vh;
    margin-top: 30px;
}
.slide{
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes tracking-in-expand {
    0% {
    letter-spacing: -0.5em;
    opacity: 0;
    }
    40% {
    opacity: 0.6;
    }
    100% {
    opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
    letter-spacing: -0.5em;
    opacity: 0;
    }
    40% {
    opacity: 0.6;
    }
    100% {
    opacity: 1;
    }
}
.tracking-in-expand {
    font-size: 11px;
    font-weight: bold;
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.title{
    font-size: 11px;
    font-weight: bold;
}

/* button hover */
    .effect {
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    padding: 20px 0px;
    width: 150px;
    border-radius: 6px;
    overflow: hidden;
    }

    /* effect-1 styles */
    .effect.effect-1 {
    transition: all 0.2s linear 0s;
    }
    .effect.effect-1:before {
    
    content: "\f054";
    background-size: 300px 100px;
    font-size: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 40px;
    transition: all 0.2s linear 0s;
    }
.effect.effect-1:hover {
    text-indent: -20px;
    }
.effect.effect-1:hover:before {
    opacity: 1;
    text-indent: 0px;
    }